body{
    margin: 0px;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #a0a0a0;
}
.left{
    display: flex;
    
}
.NavBar-wrapper{
    margin-right: 30px;
    padding-bottom:10px;
    text-transform:capitalize;
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    font-size: 30px;
}
.NavBar-wrapper a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
    margin: 5px;
}
.right {
    display: flex;
}

.NavBar-wrapper:hover{
    border-bottom: 1px solid black;
}

.NavBar-wrapper a:hover {
    color: black;
}
.Profile {
    position: relative;
    display: grid;
    grid-template-columns: 400px auto;
    margin-block: 100px;
    margin-inline: 150px;
    padding: 100px;
    border: 10px solid;
    border-color: #00ff21;
}
.profile-intro-pic {
    padding: 25px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
.profile-intro-text {
    padding: 25px;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
.headings{
    padding-left:25px;
}
.profile-intro-info {
    padding: 25px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.text{
    margin-inline:50px;
    font-size:20px;
}
